body{
color : #fff;
font-family: Arial,sans-serif;
    background:url(../img/robot.png)no-repeat 50% 4700px,url(../img/good.png)no-repeat 90% 4080px,url(../img/site.png)no-repeat 66% 4080px,url(../img/clock.png)no-repeat 38% 4080px,url(../img/yoda.png)no-repeat 15% 4080px,url(../img/lock.png)no-repeat 50% 2450px,url(../img/kartinka.png)no-repeat 1585px 570px/300px,url(../img/love.png)no-repeat 12% 1700px,url(../img/polsunok.png)no-repeat 36.5% 1700px,url(../img/users.png)no-repeat 63% 1700px,url(../img/double.png)no-repeat 92% 1700px,url(../img/plashka.png)no-repeat 0px -50px/100%  ,url(../img/me.png)no-repeat 75% 100%/auto ,url(../img/fon.png)repeat ;
}
nav {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border-radius: 40px;
    -webkit-animation: 2s;
    -o-animation: 2s;
    animation: 2s;
}
   nav {
    background: linear-gradient(56deg, #0934a3, #b61b1b, #07329f, #b311e2);
    background-size: 200%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
.logo{
    font-size:28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}
.menu{
    float: left;
    padding-left:432px;
}
.menu li{
    float:left;
    line-height:60px;
    margin-right:40px;
    text-transform: uppercase;
    list-style:none; 
}
.menu li:hover{
color: black;
    transform: scale(1.2);
    }
.main{
    width: 90%;
    height: calc(100% - 120px);
    position: absolute;
}
.title__container{
    margin: 400px;
    color:#1d2343;
    
}
.title__container h1{
font-size: 60px;
    font-weight: bold;
}
.title__container h3{
font-size: 20px;
   margin-top: 35px;
    margin-left: 180px;
    font-size: 24px;
    color: #576baa;
}
.title__container input{
color: #fff;
    height: 40px;
    margin-top: 36px;
    margin-left: 156px;
    border: 2px solid #1d2343;
    border-radius: 20px;
        background:#576baa; 
}
.title__container input:hover{
    transform: scale(1.2);
    color:#1d2343 ;
    background: linear-gradient(56deg, #0934a3, #07329f, #b311e2, #32CD32, #FFD700,#000000);
    background-size: 200%;
    -webkit-animation: temin 5s ease infinite;
    -moz-animation: temin 5s ease infinite;
    -o-animation: temin 5s ease infinite;
    animation: temin 5s ease infinite;
}
@keyframes temin{
     0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}
.plashka{
    margin: 380px 1% 50px 86%;
    position: absolute;
    font-size: 30;
    font-weight: bold;
}
.about_me{
    color: #1d2343;
     text-align: center;
    background: url(../img/laptop.png)no-repeat center;
    background-position: top;
}
.about_me h2{
     margin-top: 1000px;
    font-weight: bold;
    font-size:28px;
}
.about_me span{
    display: block;
    font-size: 20px;
   margin-top: 250px; 
    margin-left: 20%;
    margin-right: 20%;
}
.about_me input{
    color: #fff;
    height: 40px;
    margin-top: 70px;
    border: 2px solid #1d2343;
    border-radius: 20px;
        background:#576baa;
}
.about_me input:hover{
    transform: scale(1.2);
    color:#1d2343 ;
    background: linear-gradient(56deg, #0934a3, #07329f, #b311e2, #32CD32, #FFD700,#000000);
    background-size: 200%;
    -webkit-animation: temin 5s ease infinite;
    -moz-animation: temin 5s ease infinite;
    -o-animation: temin 5s ease infinite;
    animation: temin 5s ease infinite;
}
.l_can h2{
    text-align: center;
    font-size: 30px;
    color: #1d2343;
    margin-top: 70px;
    font-weight: bold;
}
.l_can h3{
    float: left;
   line-height:150px;
    margin-left: 235px;
    color: #1d2343;
    font-size: 30px;
    font-weight: bold;
}
.l_can span{
    font-weight: bold;
    float: left;
    display:block;
    margin-top: 250px;
     margin-left: 280px;
    color: #1d2343;
    font-size: 16px;
  animation: time 20s infinite;
  
  background: linear-gradient(90deg, rgba(150,48,30,1) 0%,rgba(199,201,88,1) 10%,rgba(28,147,46,1) 20%,rgba(74,165,168,1) 30%,rgba(89,90,165,1) 40%,rgba(84,16,67,1) 50%,rgba(28,58,63,1) 60%,rgba(82,175,183,1) 70%,rgba(78,170,76,1) 80%,rgba(150,48,30,1) 90%,rgba(199,201,88,1) 100%);
  background-size: 500% 100%;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-50%, -50%);
}
@keyframes time {
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}
.job{
    display: block;
     margin-top: 38%;
    clear: both;
    text-align: center;
}
.job h2{
  color: #1d2343;  
    font-size: 30px;
    font-weight: bold;
}
.job span{
    line-height: 200px;
    color: #1d2343;  
    font-size: 20px;
    font-style: italic;
}
.cash h2{
    text-align: center;
    color: #1d2343;  
    font-size: 30px;
    font-weight: bold;
   margin-top: 550px;
}
.cash h3{
    line-height: 100px;
    margin-left: 600px;
    color: #000000;  
    font-size: 25px;
    font-weight: bold;
}
#select_1{
    width: 600px;
    margin-left: 31%;
  border: 6px inset #1d2343;
  border-radius: 0.25em;
  padding: 0.25em 0.em;
  font-size: 2.25rem;
  line-height: 1.1;
  background-color: #fff;
}
#select_2{
    margin-left: 31%;
 width: 600px;
  border: 6px inset #1d2343;
  border-radius: 0.25em;
  padding: 0.25em 0.em;
  font-size: 2.25rem;
  line-height: 1.1;
  background-color: #fff;
}
#select_3{
    margin-left: 31%;
 width: 600px;
  border: 6px inset #1d2343;
  border-radius: 0.25em;
  padding: 0.25em 0.em;
  font-size: 2.25rem;
  line-height: 1.1;
  background-color: #fff;
}
.tablic{
    margin-top: 100px;
    margin-left: 600px;
     color: #1d2343;
    font-size: 20px;
    font-weight: bold;
}
.static h2{
    display: block ;
    margin-top: 5%;
    text-align: center;
    color: #1d2343;  
    font-size: 30px;
    font-weight: bold;
}
.static h3{
    margin-right: 35px;
    margin-top: 200px;
    float: left;
    color: #1d2343;
    margin-left: 340px;
    font-size: 22px;
}
.static span{
    margin-top: 250px;
    margin-right: 10px;
    float: left;
    color: #1d2343;
    margin-left: 270px;
    font-size: 16px;
}
.otziv {
    clear: left;
    margin-top: 600px;
    text-align: center;
    color: #1d2343;  
    font-size: 30px;
}
.otziv h5{
    margin-top: 400px;
}
.contact {
    color:#fff;
    background: url(../img/peace.png)no-repeat;
    background-size:cover;
    border-radius: 200px;
    margin-top: 100px;
    text-align: center; 
    font-size: 30px;
     font-weight: bold;
}
.contact h3{
     color:#fff;
    margin-top: 200px;
    float: left;
    margin-left: 250px;
}
.my_contact{
  position:absolute;
    margin-top: 80px;
    margin-left: 45%;
}
.send{
     color:#fff;
    font-weight: bold;
    clear: both;
    text-align: center;
}
.pusk input{
  border-radius: 200px;  
}